<!-- app/views/years/show.html.erb -->
<h1><%= @year.year %></h1>
<p><strong>Make:</strong> <%= @year.make.name %></p>
<p><strong>Model:</strong> <%= @year.car_model.name %></p>

<p>
  <%= link_to "Edit", edit_year_path(@year) %> |
  <%= link_to "Back", years_path %>
</p>
